* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #8ebbff, #5869ff, #3c46a0);
}

/*-----Header da página-----*/
.conteudoCabecalho {
    color: white;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    list-style-type: none;
    margin: 0 10px;
    padding: 20px;
    transition: 0.5s;
    border-radius: 15px;
}

nav li:hover {
    background-color: rgb(149, 159, 255);
    cursor: pointer;
    border-radius: 15px;
}

/*-----Conteúdo geral da página-----*/
.conteudoPag {
    color: white;
}

.conteudoTitulo {
    margin: 2.18em;
    text-align: center;
}

/*-----Espaço do formulário-----*/
.conteudoForm{
    display: flex;
    justify-content: space-around;
}

/*-----Formulário-----*/
.formulario {
    display: flex;
    flex-direction: column;
    border: 3px solid #353b77;
    border-radius: 15px;
    background: white;
    padding: 40px;
    width: min-content;
}

/*-----Campos-----*/
.campo1 {
    display: flex;
    justify-content: space-around;
}

.campo2 {
    display: flex;
    justify-content: space-around;
}

/*-----Posição do Botão-----*/
.botaoEmbaixo {
    display: block;
    justify-content: flex-start;
}

/*-----Inputs e Select-----*/
.campoInput {
    padding-bottom: 0.5em;
}

input {
    background-color: white;
    color: black;
    outline: none;
    padding: 15px;
    margin: 0 5px;
    border: 2px solid #5869ff;
    border-radius: 5px;
}

input::placeholder {
    color: #000000;
}

label {
    color: #5869ff;
}

.campoSelect {
    padding: 0.5em 0;
    margin: 5px;
}

select {
    background-color: white;
    color: black;
    outline: none;
    padding: 5px 15px;
    width: 100%;
    border: 2px solid #5869ff;
    border-radius: 5px;
}

form input:focus {
    background-color: #5869ff;
}

/*-----Span-----*/
#mensagem {
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
    align-items: center;
}

/*-----Botão de cadastro-----*/
.divBotao {
    margin-top: 15px;
    margin-bottom: -15px;
    text-align: center;
}

.botao {
    background-color: #5869ff;
    color: white;
    padding: 0.3em 1em;
    border: 2px solid #3c46a0;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.botao:hover {
    background: #3c46a0;
}

/*-----Responsividade-----*/
@media(max-width: 450px) {
    body {
        margin: 0;
        display: grid;
    }

    header h1 {
        font-size: 15px;
        text-align: center;
    }
    
    .conteudoCabecalho {
        padding: 0;
        justify-content: space-around;
    }

    .conteudoPag {
        margin: 2em;
        flex-direction: column;
        padding: 0;
    }

    .campo1, .campo2 {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    body {
        margin: 0;
        display: grid;
    }

    header h1 {
        font-size: 20px;
        text-align: center;
    }
    
    .conteudoCabecalho {
        padding: 0;
        margin: 0 2px;
        justify-content: space-around;
    }

    .conteudoPag {
        margin: 2em;
        flex-direction: column;
        padding: 0;
    }

    .campo1, .campo2 {
        display: flex;
        flex-direction: column;
    }
}